@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


// colors 
$color1: #C96BD9;
$color2: #DC6E6E;
$color3: #6AC1D4;

$color4: #FBFBFB;
$color5: #A39B9B;

$color6: #0A0A0A;
$color7: #EFEFEF; 


// font 
$main-font: 'Poppins', sans-serif;
