footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: $color6;

    span{
        margin-left: 2rem;
        color: $color4 !important;

    }
}